/* Mixin Display Flex */
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

/* Mixin Articles */
@mixin articles {
    
    .main {

        &__article {
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;
        }
    
        &__h2 {
            font-family: $ff-subtitulo;
            font-size: $fs-subtitulo;
            font-weight: $fw-subtitulo;
            line-height: 1;
            letter-spacing: $ls-subtitulo;
            text-align: left;
            text-transform: uppercase;
            padding-top: 2.125rem;
        }
    
        &__paragraph {
            padding-top: 2.125rem;
            font-family: $ff-paragrafo;
            font-size: $fs-paragrafo;
            font-weight: $fw-paragrafo;
            letter-spacing: $ls-paragrafo;
            text-align: left;
        }

    }
    
}