/* Cores */
$cor-branco: white;
$cor-preto: #151515;
$cor-grafite: #444444;
$cor-realce: #d5966c;

/* Margem - Padding - Gap */

/* Gap */
$gg-gap: 2.125rem;
$gg-texts: 12rem;

/* Margens */
$m-top-3r: 3rem; // margin-top
$m-top-4r: 4rem; // margin-top
$m-top-11r:  11.19rem; /* Margem superior que separa os blocos de conteúdo header de main e main de footer */

/* Padding */
$p-button: 1.25rem 1.5rem;
$p-small: 1.0625rem;
$p-pattern: 2.125rem; /* Padding ou margem padrão */
$p-patternx2: 2 * $p-pattern;
$p-patternx3: 3 * $p-pattern;
$p-patternx5: 5 * $p-pattern; 
$p-patternx9: 9 * $p-pattern; 

/* Famílias de Fontes */
$ff-titulo: "Big Shoulders Display", sans-serif;
$ff-subtitulo: "Big Shoulders Display", sans-serif;
$ff-paragrafo: Outfit, sans-serif;

/* Tamanhos de Fontes */ 
$fs-titulo: clamp(3.75rem, 2.914rem + 3.8217vw, 7.5rem);
$fs-subtitulo: clamp(3.125rem, 2.8854rem + 1.0955vw, 4.2rem);
$fs-btn: clamp(1.255rem, 1.2227rem + 0.1478vw, 1.4rem);
$fs-logo: clamp(2.18rem, 2.131rem + 0.2242vw, 2.4rem);
$fs-paragrafo: clamp(1.25rem, 1.2166rem + 0.1529vw, 1.4rem);;
$fs-adress: clamp(1.125rem, 1.086rem + 0.1783vw, 1.3rem);

/* Font Weight */
$fw-titulo: 900; 
$fw-subtitulo:  800; 
$fw-btn: 700;
$fw-logo: 800; 
$fw-paragrafo: 300; 
$fw-adress: 200; 

/* Espaço entre Letras  */
$ls-titulo: 0.15vw; 
$ls-subtitulo: 0.1vw; 
$ls-btn: 0.2vw;
$ls-logo: 0.1vw;
$ls-paragrafo: 0.05vw; 
$ls-adress: 0.05vw; 