@import 'scss/reset';  
@import 'scss/variables.scss';  
@import 'scss/mixins';  

body {
    font-family: $ff-paragrafo;
    color: $cor-grafite;
    text-align: left;
}

.header {
    @include flexCenter(row);
    margin: 0;
    
    &__figure {
        @include flexCenter(row);
    }

    &__container {
        @include flexCenter(column);
    }

    &__rectangle {
        width: 450px;
        height: 800px;
        background-color: $cor-preto;
    }

    &__h1 {
        font-size: $fs-titulo;
    }
}

.main {
    margin: $mt-margin-top auto 0 auto;
    margin-top: $mt-margin-top;
    width: 69.375rem;
    height: 71.875rem;
    display: grid;
    grid-template-columns: 40.09% 152px 40.09%;
    grid-template-rows: 34.78% 313px 32.78%;
    grid-template-areas:
        'article1 img1 img1'
        'img2 img2 img3'
        'img2 img2 article2';
    grid-gap: $gg-gap;
    
    &__article {
        @include articles;
    }

    /* Article com fundo branco e letras escuras */
    &__article-1 {
        padding-right: calc($pm-pattern * 2);
        grid-area: 'article1';
        color: $cor-grafite;
    }

    &__h2-1 {
        color: $cor-preto;
    }

    &__paragraph-1 {
        color: $cor-grafite;
    }

    /* Article com fundo preto e letras brancas */
    &__article-2 {
        padding: $pm-pattern;
        grid-area: 'article2';
        background-color: $cor-preto;
    }

    &__h2-2 {
        color: $cor-branco;
    }

    &__paragraph-2 {
        color: $cor-branco
    }

    &__img1, &__img2, &__img3 {
        margin: 0;
        width: 100%;
    }

    &__img1 {
        grid-area: img1;
    }

    &__img2 {
        height: 100%;
        grid-area: img2;
    }

    &__img3 {
        grid-area: img3;
    }

    /*
    &__img1, &__img2, &__img3 {
        object-fit: fit;
    } */

}

.footer {
    @include flexCenter(row);
    justify-content: space-between;
    align-items: start;
    margin-top: $mt-margin-top;
    padding: calc($pm-pattern * 2) calc($pm-pattern * 3);
    background-color: $cor-preto;

    &__logo {
        width: 180px;
        font-family: $ff-titulo;
        font-size: $fs-logo;
        font-weight: $fw-logo;
        line-height: 1;
        letter-spacing: $ls-logo;
        text-align: left;
        text-transform: uppercase;
        color: $cor-branco;
    }

    &__adress {
        width: 450px;
        font-family: $ff-paragrafo;
        font-size: $fs-adress;
        font-weight: $fw-adress;
        letter-spacing: $ls-adress;
        text-align: left;
        color: $cor-branco;
    }

    &__adr {
        font-weight: 600;
    }

    &__social {
        @include flexCenter(row);

        justify-content: space-between;
    }

    &__icon {
        padding-left: calc($pm-pattern / 2);
        font-size: 1.5rem;
        color: $cor-branco;
    }
}