@charset "UTF-8";
/* Box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Margem */
* {
  margin: 0;
}

/* Tipografia */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Mídia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Fontes */
input, button, textarea, select {
  font: inherit;
}

/* Overflow */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Cores */
/* Margem - Padding - Gap */
/* Gap */
/* Margens */
/* Padding ou margem padrão */
/* Margem superior que separa os blocos de conteúdo header de main e main de footer */
/* Famílias de Fontes */
/* Tamanhos de Fontes */
/* Font Weight */
/* Espaço entre Letras  */
/* Mixin Display Flex */
/* Mixin Articles */
body {
  font-family: Outfit, sans-serif;
  color: #444444;
  text-align: left;
}

.header {
  width: 100%;
  height: 55.55vw;
  position: relative;
  /* Background Hero */
  /* Container com Nome da Galeria, Parágrafo de Apresentação e Botão*/
  /* Botão Localização */
}
.header__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 31.25% 37.5% 31.25%;
  grid-template-areas: "preto img branco";
}
.header__bg-black {
  content: "";
  width: 100%;
  height: 100%;
  grid-area: preto;
  background-color: black;
}
.header__img {
  width: 100%;
  height: 100%;
  grid-area: img;
}
.header__bg-white {
  content: "";
  width: 100%;
  height: 100%;
  grid-area: branco;
  background-color: white;
}
.header__container-texts {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10.625rem;
  margin-top: 3rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 12rem;
}
.header__h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: clamp(3.75rem, 2.914rem + 3.8217vw, 7.5rem);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.15vw;
  text-align: left;
  text-transform: uppercase;
  padding: 2.125rem 0 0 0;
  color: white;
  mix-blend-mode: difference;
}
.header__container-p-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 2.125rem;
  position: relative;
}
.header__paragraph {
  font-family: Outfit, sans-serif;
  font-size: clamp(1.25rem, 1.2166rem + 0.1529vw, 1.4rem);
  font-weight: 300;
  letter-spacing: 0.05vw;
  text-align: left;
}
.header__btn-right, .main__btn-left {
  width: 16.875rem;
  height: 4.5rem;
  position: relative;
  margin-top: 4rem;
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, #d5966c 80%, #151515 80%);
  transition: all 0.3s ease-in-out;
}
.header__btn-right:hover, .main__btn-left:hover {
  background: linear-gradient(to right, #151515 80%, #d5966c 80%);
}
.header__btn-text, .main__btn-text {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 5%;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: clamp(1.255rem, 1.2227rem + 0.1478vw, 1.4rem);
  font-weight: 700;
  letter-spacing: 0.2vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.25rem 1.5rem;
  border: none;
  color: white;
}
.header__btn-svg-right {
  position: absolute;
  width: 5%;
  height: 40%;
  top: 30%;
  left: 87.5%;
  display: block;
  color: white;
  z-index: 2;
}

.main {
  margin: 11.19rem auto 0 auto;
  margin-top: 11.19rem;
  width: 69.375rem;
  height: 71.875rem;
  display: grid;
  grid-template-columns: 40.09% 152px 40.09%;
  grid-template-rows: 34.78% 313px 32.78%;
  grid-template-areas: "article1 img1 img1" "img2 img2 img3" "img2 img2 article2";
  grid-gap: 2.125rem;
  /* Página Home */
  /* Article 1 - fundo branco e letras escuras */
  /* Página Home */
  /* Article 2 - fundo preto e letras brancas */
  /* Página Localização */
  /* Botão de Voltar */
  /* Mapa */
  /* Article 3 - fundo preto e letras brancas */
  /* Endereço */
}
.main__article .main__article {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.main__article .main__h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: clamp(3.125rem, 2.8854rem + 1.0955vw, 4.2rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.1vw;
  text-align: left;
  text-transform: uppercase;
  padding-top: 2.125rem;
}
.main__article .main__paragraph {
  padding-top: 2.125rem;
  font-family: Outfit, sans-serif;
  font-size: clamp(1.25rem, 1.2166rem + 0.1529vw, 1.4rem);
  font-weight: 300;
  letter-spacing: 0.05vw;
  text-align: left;
}
.main__article-1 {
  padding-right: 4.25rem;
  grid-area: "article1";
  color: #444444;
}
.main__h2-1 {
  color: #151515;
}
.main__paragraph-1 {
  color: #444444;
}
.main__article-2 {
  padding: 2.125rem;
  grid-area: "article2";
  background-color: #151515;
}
.main__h2-2 {
  color: white;
}
.main__paragraph-2 {
  color: white;
}
.main__img1, .main__img2, .main__img3 {
  margin: 0;
  width: 100%;
}
.main__img1 {
  grid-area: img1;
}
.main__img2 {
  height: 100%;
  grid-area: img2;
}
.main__img3 {
  grid-area: img3;
}
.main--location {
  position: relative;
  margin: 0 auto;
  background-color: #444444;
}
.main__btn-left {
  position: absolute;
  margin-top: 0;
  margin-left: 10.625rem;
  margin-right: 10.625rem;
  background: linear-gradient(to right, #d5966c 20%, #151515 20%);
  transition: all 0.3s ease-in-out;
}
.main__btn-left:hover {
  background: linear-gradient(to right, #151515 20%, #d5966c 20%);
}
.main__btn-text {
  top: 0;
  right: 5%;
  text-align: right;
}
.main__btn-svg-left {
  position: absolute;
  width: 5%;
  height: 40%;
  top: 30%;
  left: 7.5%;
  display: block;
  color: white;
  z-index: 2;
}
.main__map-jpg {
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__article-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 4.25rem 6.375rem;
  background-color: #151515;
}
.main__section-adress {
  padding-top: 2.125rem;
  padding-left: 19.125rem;
}
.main__h2-2 {
  text-transform: uppercase;
  color: white;
}
.main__h3--location {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: clamp(2.18rem, 2.131rem + 0.2242vw, 2.4rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  color: #d5966c;
}
.main__paragraph--location {
  padding-top: 4.25rem;
  color: white;
}

.footer, .footer--location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 11.19rem;
  padding: 4.25rem 6.375rem;
  background-color: #151515;
  /* Footer do Página Home*/
  /* Footer da Página Localização */
}
.footer__logo, .footer__logo--location {
  width: 13.75rem;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: clamp(2.18rem, 2.131rem + 0.2242vw, 2.4rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.1vw;
  text-align: left;
  text-transform: uppercase;
  color: white;
}
.footer__adress, .footer__adress--location {
  width: 37.5rem;
  font-family: Outfit, sans-serif;
  font-size: clamp(1.125rem, 1.086rem + 0.1783vw, 1.3rem);
  font-weight: 200;
  letter-spacing: 0.05vw;
  text-align: left;
  color: white;
}
.footer__adr, .footer__adr--location:hover, .footer__adr--location {
  font-weight: 600;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer__icon, .footer__icon--location:hover, .footer__icon--location {
  padding-left: 1.0625rem;
  font-size: 1.5rem;
  color: white;
}
.footer__icon:hover, .footer__icon--location:hover, .footer__adr:hover, .footer__adr--location:hover {
  color: #d5966c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer--location {
  margin-top: 0;
  background-color: #d5966c;
}
.footer__logo--location {
  color: #151515;
}
.footer__adress--location {
  color: #151515;
}
.footer__icon--location {
  color: #151515;
}
.footer__icon--location:hover {
  color: white;
}
.footer__adr--location:hover {
  color: white;
}

/* Media Queries */
/* Reduce Motion */
@media only screen and (prefers-reduced-motion) {
  .reduce-motion,
  .reduce-motion::before,
  .reduce-motion::after {
    animation-delay: 0s !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.0001ms !important;
    transition-delay: 0s !important;
  }
}
/* Tablet */
/* Mobile*//*# sourceMappingURL=style.css.map */